@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root{
    margin :0 8rem ;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* background-color: #EAEDED !important; */
    scroll-behavior: smooth;
} 

html::-webkit-scrollbar {
    display: none;
} 
